@import '../../sass/variables';

  .hero-container{
    z-index: 2;
    text-align: center;
  }

  .container{
    z-index: 1;
    color: var(--secondary);
    font-family:  PP,helvetica,arial,sans-serif;
    font-size: 40px;
    font-weight: 50;
    line-height: 45px;
    max-width: 915px;
    margin: 0 auto;
  }
  
  .ball-container {
    position: relative;
    margin: 18px;
    height: 95%;
    width: calc(100% - 36px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    background-color: var(--primary);
    border-radius:20px;
    overflow: hidden;
  
    .pink-ball {
      position: absolute;
      top:-20%;
      left:-10%;
      width: 800px;
      height: 800px;
      filter: blur(140px);
      z-index: -1;
      background: rgb(228, 44, 105);
      border-radius: 800px;
      animation: pink 4s  infinite linear;
      animation-delay: 0s;
    }
    
    .blue-ball {
      position: absolute;
      top:-20%;
      left:-10%;
      width: 800px;
      height: 800px;
      filter: blur(160px);
      z-index: -1;
      background-color:rgb(45, 235, 166);
      border-radius: 500px;
      animation: blue 4s infinite linear;
      animation-delay: 0s;
    }
  
    .yellow-ball {
      position: absolute;
      top:-20%;
      left:-10%;
      width: 600px;
      height: 600px;
      filter: blur(170px);
      z-index: -1;
      background-color:rgb(52, 115, 233);
      border-radius: 500px;
      animation: green 4s infinite linear;
      animation-delay: -3s;
    }
  }
  
  
  @keyframes pink {
      0%,
      100% {
        top: 80%;
        left: 70%;
       
      }
      20% {
        top: -70%;
        left: 50%; 
      }
      40% {
        top: 60%;
        left: 30%;
      }
  
      60% {
        top: 0%;
        left: 0%;
      }
      80% {
        top: 60%;
        left: 30%;   
      } 
    }
  
  
  @keyframes blue {
    0%,
    100% {
      top: 70%;
      left: 20%;
     
    }
    20% {
      top: 30%;
      left: 90%; 
    }
    40% {
      top: 70%;
      left: 0%;
    }
    60% {
      top: 0%;
      left: 0%;
    }
    80% {
      top: 50%;
      left: 100%;   
    } 
  }
  
  @keyframes green {
      0%,
      100% {
        top: 0%;
        left: 0%;
       
      }
      20% {
        top: -70%;
        left: 50%; 
      }
      40% {
        top: 10%;
        left: 30%;
      }
  
      60% {
        top: 70%;
        left: -2%;
      }
      80% {
        top: 20%;
        left: 70%;   
      } 
    }

    @media screen and (max-width: 768px) {


        .hero-content {
          top: 22%;
          left: 17%;
          font-size: 30px;
          font-weight: 25;
          width: 280px;
          line-height: 35px;
        }
      .ball-container {
          height: calc(100% - 36px);
          width: calc(100% - 36px);
  
          .pink-ball {
              width: 500px;
              height: 500px;
              border-radius: 500px;
          }
          .blue-ball {
              width: 500px;
              height: 500px;
              border-radius: 500px;
          }
          .yellow-ball {
              width: 400px;
              height: 400px;
              border-radius: 400px;
          }
      }
      
    }