@import '../../sass/variables';

.overview {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary);

  .overview-header{
    width: 100%;
    height: 15dvh;
    color: var(--secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;  
    z-index: 1;
   

    h1{
        font-family: Valorant;
        margin-top: 30px;
        opacity: 0.9;
        filter: saturate(0.9);
    }

    #overview-bg {
      font-size: 200px;
      font-weight: 700;
      color: var(--secondary);
      text-transform: uppercase;
      position: absolute;
      top: 98%;
      background: linear-gradient(to top, transparent 25%, var(--gc) 390%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      backdrop-filter: brightness(-5);
      font-family: Valorant;
         }
      }
     
      .overview-help{
        background: #000;
        height: 100%;
        display: flex;
        align-items: center;

        .main-span {
           font-size: 6rem;
           font-weight: 550;
           font-family: sans-serif;
           text-transform: uppercase;
        }
      }
     
}


@media screen and (max-width: 768px) {
  .overview {
    height: 100vh;

    .overview-header{
      height: 10vh;
      display: flex;
      justify-content: center;
      align-items: flex-start;
    
      h1 {
        margin-top: 20px;
        font-size: 50px;
      }

      #overview-bg {
        display: flex;
        top: 115%;
        left: -1%;
        font-size: 70px;
      }
      }
}
}
