@import '../../sass/variables';

.navbar {
    height: 12vh;
    width: 100%;
    background: transparent; 
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 10;
  
    .Link {
        list-style: none;
        text-decoration: none;
        flex: 3;
    }
  
    h1 {
        font-size: 20px;
        font-weight: 300;
        text-align: start;
        margin-left: 60px;
        text-decoration: none;
        color: var(--secondary);  
        font-family: Valorant;
    }
  
    ul {
        flex: 1;
        list-style: none;
        display: flex;
        justify-content: center;
        
        li {
            flex: 1;
            font-size: 20px;
            list-style: none;
            color: var(--secondary);
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all 0.9s ease;
            display: flex;
            flex-direction: column;
  
            hr {
                width: 5%;
                height: 2px;
                transform: translate(-25px, 0px);
                color: var(--secondary);
                transition: all 0.9s ease;             
            }
            
           }
  
      #darkmode {
        margin: 0;
        margin-right: 60px;
      }
    }
  }
  
  @media screen and (max-width:600px){
    .navbar{
        height:10vh;
  
        h1{
            margin-left: 35px;
            font-size: 18px;
            font-weight: 200;
            font-family: Valorant;
            color:var(--secondary);
        }
  
        .Link{
            margin-bottom: 5px;
            flex: 1;
        }
  
        ul {
            li{
                margin-right:20px ;
                font-size: 17px;
                font-weight: 400;
            }
  
            #darkmode {
                margin-right: 30px;
            }
        }
    }
  }
  